body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#eef2ff;
}

.app-wrapper{
  text-align:center;
}

.main-heading{
  margin-top:40px;
  font-size:36px;
  font-weight:700;
}

.subtitle{
  color:#475569;
  margin-bottom:30px;
}